body {
  background-color: #343939;
}

.home {
  width: 100%;
  height: 100vh; /* 100% del alto de la ventana */
  background-color: #343939;
}

.home-title-container {
  position: absolute; /* Establece la posición absoluta */
  top: 1%; /* Coloca el elemento en el 50% superior del contenedor principal */
  left: 50%; /* Coloca el elemento en el 50% izquierdo del contenedor principal */
  text-align: center; /* Centra el texto horizontalmente dentro de 'home-title-container' */
  font-size: 24px; /* Establece el tamaño de fuente del texto a 24 píxeles */

  .text-container {
    padding: 10px;
    color: white;
  }
}
