
.container-2 {
    display: flex;
    flex-direction: column;
    border-right: 3px solid rgb(12, 12, 12);

    .header, .box-to-tweet, .feed {
        padding: 10px;
      }

    .header {
        flex: 0.1;
        border-bottom: 1px solid rgb(12, 12, 12);
        //background-color: red;
    }
    
    .home-title-container {
        position: absolute; /* Establece la posición absoluta */
        top: 1%; /* Coloca el elemento en el 50% superior del contenedor principal */
        //left: 50%; /* Coloca el elemento en el 50% izquierdo del contenedor principal */
        text-align: center; /* Centra el texto horizontalmente dentro de 'home-title-container' */
        font-size: 24px; /* Establece el tamaño de fuente del texto a 24 píxeles */
    
    }

    .text-container {
        padding: 10px;
        color: white;
    }

    .box-to-tweet {
        //background-color: blue;
        position: relative;
        flex: 0.2;
        border-top: 1px solid rgb(29, 28, 28);

        .text-box {
            align-self: center;
            width: 800px; /* Ancho del cuadro de texto en píxeles */
            height: 150px; /* Alto del cuadro de texto en píxeles */
            border: 2px solid #2d2f2f; /* Borde del cuadro de texto */
            border-radius: 10px; 
            background-color: #c3bdbd; /* Color de fondo del cuadro de texto */
            z-index: 1;
        }

        .text-box:focus {
            border: 5px solid #1e1f1f; /* Cambia el borde a un color azul cuando tiene foco */
            box-shadow: 0 0 5px #1e1f1f(109, 109, 110, 0.5); /* Agrega una sombra cuando tiene foco */
            //outline: none; /* Elimina el resplandor predeterminado del enfoque */
          }

        .text-box:hover {
            border: 5px solid #2d2f2f; /* Cambia el borde a un color azul cuando tiene foco */
            box-shadow: 0 0 5px #2d2f2f(109, 109, 110, 0.5); /* Agrega una sombra cuando tiene foco */
        }

        .text {
            resize: none;
            width: 650px; /* Ancho del cuadro de texto en píxeles */
            height: 100px; /* Alto del cuadro de texto en píxeles */
            font-family: Arial, sans-serif; /* Fuente del texto */
            font-size: 16px; /* Tamaño del texto en píxeles */
            padding: 10px; /* Espaciado interno alrededor del texto */
            //margin: 5px; /* Espaciado externo alrededor del cuadro de texto */
            background-color: transparent; /* Color de fondo del cuadro de texto */
            border: transparent; /* Borde del cuadro de texto */
            z-index: 2;
            user-select: none;
        }

        .post-button {
            position: absolute;
            bottom: 30px; /* Ajusta la posición superior según tus necesidades */
            right: 150px; /* Ajusta la posición derecha según tus necesidades */
            background-color:#63487e;
            color: whitesmoke;
            border-radius: 10px;
            z-index: 3;
            width: 100px;
            height: 40px;
        }
    }

    .feed {
        //background-color: greenyellow;
        flex: 2;
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgb(29, 28, 28);
        //max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
        overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */

        .post {
            display: block;
            align-items: center;
            margin-left: 100px;
            margin-right: 100px;

            .profile-information {
                display: flex; /* Cambiar display a flex */
                align-items: center; /* Alinea verticalmente los elementos */
    
                .profile-picture {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%; /* Hace que la foto de perfil sea un círculo */
                    object-fit: cover; /* Ajusta la imagen para que llene el círculo sin deformarla */
                    margin-right: 10px; /* Espaciado entre la foto de perfil y el contenido */
                  }
    
                .profile-name {
                    font-weight: 3px;
                    margin-bottom: 5px;
                    color: whitesmoke;
                }
            }

            .post-text {
                margin-top: 10px;
                font-weight: 3px;
                color: whitesmoke;
            }
              
            .post-picture {
                //width: 300px;
                //height: 500px; /* Hace que la imagen sea cuadrada */
                margin: 50px;
                object-fit: cover; /* Ajusta la imagen para llenar el cuadro sin deformarla */
            }

            .actions {
                /* Estilos para los botones de acciones */
                }
        }
        
    }
    
}
  