.container-1 {
    left: 150px;
    border-right: 3px solid rgb(12, 12, 12);

    .logo-container {
        display: flex; /* Cambiar display a flex */
        align-items: center; /* Alinea verticalmente los elementos */
        position: absolute;
        top: 5%;
        left: 5%;
        height: 10%; 
        background-color: transparent; /* Puedes establecer un fondo si lo deseas */
        padding: 10px;

    }
    
    .logo-app {
        width: 70px; /* Establece el ancho deseado para el logotipo */
        height: auto; /* Mantiene la proporción de aspecto original */
        margin-right: 20px;
    }
    
    .text-app {
        color: whitesmoke;
        font-size: 30px; /* Tamaño del texto */
        text-align: center;
        font-weight: bold;
    }
    
    .menu {
        position: absolute;
        top: 20%; /* Alinea el logotipo en la parte superior */
        left: 5%; /* Alinea el logotipo en la izquierda */
        display: flex;
        flex-direction: column;
        background-color: #333; /* Color de fondo del menú */
        color: white; /* Color del texto en el menú */
        width: 15%;
        height: 80%;
    }
    
    .item {
        display: flex;
        align-items: center; /* Centra verticalmente los elementos */
        padding: 20px; /* Espaciado interno de los elementos */
        cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
        transition: background-color 0.3s; /* Agrega una transición al sombrearse */
    }
    
    .item:hover {
        background-color: #444; /* Color de fondo al pasar el cursor */
    }
    
    .icon {
        width: 24px; /* Ancho deseado para los iconos */
        height: 24px; /* Alto deseado para los iconos */
        margin-right: 10px; /* Espacio entre el icono y el texto */
    }
    
    .text {
        color: white; /* Color del texto en el menú */
        font-size: 16px; /* Tamaño del texto */
        text-decoration: none; 
    }
  }
